*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
   
}

.container{

    width: 90%;
    height: 90%;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
}

.bar{
    border: 2px solid rgb(222, 204, 156);
    width: 1100px;
    height: 55px;
    border-radius: 20px;
    margin-inline: 130px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.bar h1{
    color: rgb(222, 204, 156);
    font-weight: 200;
}

.sp1{
    width: 500px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sp1 a{
    color: rgb(222, 204, 156);
    text-decoration: none;
}

.sp2{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(165, 108, 3);
}


.sp2 i{
    color:rgb(222, 204, 156);
}


.big-box{
    width: 100%;
    height: 300px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 180px;
}

.box1{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-block: 30px;
    padding-left: 25px;
}

.box1 h1{
    color:rgb(222, 204, 156);
}

.box1 p{
    color:rgb(222, 204, 156);
    font-size: 14px;
}

.box1 button{
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(165, 108, 3);
    color: rgb(222, 204, 156);
}

.box2{
    width: 250px;
    height: 300px;
    background-image: url(./food\ image.jpg);
    background-position: center;
    background-size: cover;
}

.box3{
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mb{
    width: 100%;
    height: 90px;
}

.mb h4{
    color: rgb(222, 204, 156);
}

.mb p{
    color: rgb(222, 204, 156);
    margin-top: 4px;
}

.big-box2{
    width: 100%;
    height: 200px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 180px;
}


.mini-box{
    width: 300px;
    height: 200px;
}

.round1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 100px;
    background-image: url(./1.jpg);
    background-position: center;
    background-size: cover;
}

.round1:hover{
    transform: scale(130%);
    transition: ease-in-out;
}

.text{
    width: 100%;
    height: 110px;
    color: rgb(222, 204, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text p{
    text-align: center;
}


.round2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 100px;
    background-image: url(./uwHZ-2529.jpeg);
    background-position: center;
    background-size: cover;
}

.round2:hover{
    transform: scale(130%);
    transition: ease-in-out;
}


.round3{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 100px;
    background-image: url(./tea.jpg);
    background-position: center;
    background-size: cover;
}

.round3:hover{
    transform: scale(130%);
    transition: ease-in-out;
}



